parameters:


application:
	catchExceptions: true
	errorPresenter: Error:Error
	mapping:
		*: ['App', '*', '*\UI\*Presenter']
		Error: ['App\Error\UI', '*', '*Presenter']


session:
	expiration: 14 days


services:
	router: App\Router\RouterFactory::createRouter
